body, ul, li, p {
	padding: 0;
	margin: 0;
}

body {
	padding: 100px 0;
	background: #ccc;
	font-family: Arial, serif;
	color: #333;
}

p {
	line-height: 1.5em;
	margin-bottom: 1em;
}

#tabs {
	width: 400px;
	margin: auto;
}